<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.global.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.example.scene.prefrence.PreferenceActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name="com.example.test.widget.TestActivity" />
        <activity
            android:name="com.example.test.material.ScrollTabActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.test.material.CheckboxActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.storetestsub.StoreTestSubActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.storetest.StoreTestActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.infinitylistwithrxjava.PostListWithRxjavaActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.rxjava.RxjavaSampleActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.pagedlist.PostPagedListActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.test.databinding.DataBindingActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.test.aac.FragmentBindingActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.test.aac.AddUserProfileActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.test.aac.UserProfileActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.test.aac.EditUserProfileActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.nestedscrollview.NestedScrollViewActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.foldlist.FoldListActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.scrollbehavior.ScrollingViewBehaviorActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.caollapsingtollbar.CollapsingToolbarLayoutActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.infinitylist.PostInfinityListActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.test.material.BottomNavigationActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.cardscroll.CardScrollActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.materialbutton.MaterialButtonActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.scene.pager.PagerActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name="com.example.scene.uilist.UIListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FourActivity" />
        <activity
            android:name=".ThirdActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".SecondActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="exampleapp" />
            </intent-filter>
        </activity>
    </application>

</manifest>